
*.properties

.idea/.name

*.bin

*.jar

.idea/compiler.xml

.gradle/2.2.1/taskArtifacts/cache.properties.lock

.idea/copyright/profiles_settings.xml

.idea/gradle.xml

.idea/libraries/appcompat_v7_22_2_0.xml

.idea/libraries/support_annotations_22_2_0.xml

.idea/libraries/support_v4_22_2_0.xml

.idea/misc.xml

.idea/modules.xml

.idea/runConfigurations.xml

.idea/vcs.xml


.idea/workspace.xml

.idea/libraries/appcompat_v7_22_2_1.xml

.idea/libraries/design_22_2_1.xml

.idea/libraries/support_annotations_22_2_1.xml

.idea/libraries/support_v4_22_2_1.xml

build/intermediates/dex-cache/cache.xml

build/intermediates/dex-cache/cache.xml

build/intermediates/dex-cache/cache.xml

.idea/libraries/activeandroid_3_1_0_SNAPSHOT.xml

build/intermediates/dex-cache/cache.xml

build/intermediates/dex-cache/cache.xml

.idea/libraries/recyclerview_v7_22_2_1.xml

.idea/libraries/cardview_v7_23_1_1.xml
