<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.com.inzynierka.mkufunzi">

    <uses-permission android:name="android.permission.INTERNET" />

    <user-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.activeandroid.app.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="AA_DB_NAME"
            android:value="Mkufunzi.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="7" />

        <activity
            android:name=".controllers.views_controllers.Login"
            android:label="@string/title_activity_login"
            android:theme="@style/LoginTheme"/>
        <activity
            android:name=".controllers.views_controllers.About"
            android:label="@string/title_activity_about"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".controllers.views_controllers.Register"
            android:label="@string/title_activity_register"
            android:theme="@style/LoginTheme" />
        <activity
            android:name=".controllers.views_controllers.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controllers.views_controllers.Settings"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".controllers.views_controllers.MyMessages"
            android:label="@string/title_activity_my_messages"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".controllers.views_controllers.SendMessage"
            android:label="@string/title_activity_send_message"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".controllers.views_controllers.AddMedicine"
            android:label="@string/title_activity_add_medicine"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".controllers.views_controllers.MyMedicines"
            android:label="@string/title_activity_my_medicines"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".controllers.views_controllers.AddMeasure"
            android:label="@string/title_activity_add_measure"
            android:theme="@style/MeasureTheme" />
        <activity
            android:name=".controllers.views_controllers.MeasurePage"
            android:label="@string/title_activity_measure_page"
            android:theme="@style/MeasureTheme"></activity>
    </application>

</manifest>
